---
layout: base.liquid
permalink: "{{ category }}/{{ title | slug}}/"
---
<div class="articleHeader"> 
    <img class="articleHeader__image" src="/assets/{{image}}" alt="">
    <div class="articleHeader__content">
        <h1 class="articleHeader__title">{{ title }}</h1>
        <p class="articleHeader__description">{{ description }}</p>
    </div>
</div>
<div class="articleMain">

    {{ content | safe}}

</div>


