<article class="teaser bigTile">
    <a class="bigTile__link" href="{{ article.url }}"></a>
    <div class="bigTile__content">
        <h3 class="teaser__title">{{article.data.title}}</h3>
        <p class="teaser__copy">{{article.data.description}}</p>
    </div>
    <span class="bigTile__gradient"></span>
    <img src="/assets/{{article.data.image}}" alt="{{article.data.title}}" class="bigTile__image">       
</article>